// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

:root {
    --c-purple: #3d1166;
    --c-offwhite: #d5cfb8;
    --c-yellow: #ffc400;
    --c-black: #070606;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #343a40 !important;
}


.navbar {
    opacity: 0.8;
    background-color: #343a40 !important;
    transition: opacity 0.3s ease;

    &.navbar-active {
        opacity: 1;
    }
}


//test page
.test-page-content {
    .header-content-test {
        background: url("../image/tech.jpg") no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        margin-top: -6rem;
    }
}

.about-us-page {
    .scroll-trigger-char {
        section {
            height: 100vh;
            padding: 0 clamp(4rem, 12vw, 20rem);
            display: grid;
            place-content: center;

            p {
                font-size: 4vw;
            }

            @media (max-width: 767px) {
                p {
                    font-size: 5vw;
                }
            }

            &:nth-of-type(1) {
                border-bottom: 1px solid black;
            }

            &:nth-of-type(3) {
                background: #ffff00;
            }

            &:nth-of-type(4) {
                background: rgb(29, 29, 29);
                color: white;
            }
        }
    }


    .scroll-trigger-experiences {
        .sticky {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            height: 100vh;
            place-items: center;
            background-color: var(--c-offwhite);
            overflow: hidden;

            &__box {
                position: relative;
                grid-column: 4 / 10;
                height: fit-content;
                padding: 40px;
            }

            &__box-fill {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 22px;
                transform: translate(-50%, -50%);
                background-color: var(--c-yellow);
            }

            p {
                position: relative;
                font-size: 4vw;
                line-height: 1.375;
                font-weight: 600;
                z-index: 10;
            }

            @media (max-width: 767px) {
                p {
                    font-size: 4vw;
                }
            }

        }

        .outro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: var(--c-black);

            &__title {
                font-size: 7vw;
                color: var(--c-offwhite);
                margin-bottom: 14px;
            }

            &__text {
                color: var(--c-offwhite);
                font-weight: 600;
                text-transform: uppercase;
                font-size: 2vw;
            }

        }
    }
}

@media (max-width: 767px) {
    .wrapper-footer {
        ul {

            flex-direction: column;
            padding: 0rem;
            line-height: 2.5rem;
        }

    }

}

.wrapper-footer {
    background-color: #070606;
    padding: 2rem;
    display: flex;
}